footer {
    margin-top: 2rem;
}

#footer__content {
    background-color: #b28364b6;
    min-height: 75px;
    max-height: 110px;
    align-items: center;    
    flex-direction: column;
    gap: 15px;
    padding-top: 5px;
}

#footer__content > * {
    display: flex;
    flex-grow: 1;
}

#footer__content__linktoPages {
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
}

.instagram {
    background: -webkit-linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 1000;
}

.facebook {
    background: #3b5998;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 1000;
}