h1 {
    font-size: 35px;
    font-weight: 600;
}

h2 {
    font-size: 18px;
    font-weight: 400;
}

#nav__logo {
    text-align: center;
}

#nav__logo img {
    height: 75px;
    padding-top: 15px;
}


#nav__links {
    display: flex;
    list-style: none;
    background-color: white;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
    }

a {
    text-decoration: none;
    color: black;
    font-style: bold;
    font-weight: 500;
}