#nav {
    background-color: white;
    align-items: center;
    z-index: 1000;
}

#nav__logo {
    text-align: center;
}

#nav__logo img {
    height: 75px;
    padding-top: 15px;
}


#nav__links {
    display: flex;
    list-style: none;
    background-color: white;
    justify-content: space-evenly;
    padding: 25px;
    align-items: center;
    }

a {
    text-decoration: none;
    color: black;
    font-style: bold;
    font-weight: 500;
}

a:hover {
    font-weight: 800;
}

#presentation__container {
    padding: 20px;
    text-align: center;
  }
  
#presentation__title {
    margin-bottom: 5px;
  }

