#prestations__content {
    margin-top: 15px;
}

.prices__content {
    margin: 7px 0px 7px 0px;
}

.price {
    color: #62b1a2;
}

#important > h3 {
    margin: 10px 0 10px 0;
}

/* V2 */
#cardSection {
    justify-content: center;
    flex-direction: column;
}

#cards {
    margin: 0 auto;
    display: flex;
    max-width: 400px;
    flex-direction: column;
  }

.card {
    gap: 15px;
    flex-direction: column;
    border: 2px solid rgb(105, 83, 11);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
    min-height: 150px;
    /* max-height: 200px; */
}

.card > p {
    font-size: 20px;
    font-weight: 600;
}

.card > span {
    color: #62b1a2;
    font-size: 20px;
    font-weight: 600;
}

.card > .asterisk {
    color: #000000;
    font-size: 13px;
    font-weight: 600;
}

.subtitle {
    font-size: 28px;
    font-weight: 600;
    margin: 25px;
}

.important {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .important img {
    margin-right: 10px;
  }

  .important li {
    margin-bottom: 10px;
    
  }

  @media only screen and (min-width: 769px) {   
    
    #cards {
        margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 800px;
      }
}