/* hero */
#hero {
  min-height: 200px;
  max-height: 300px;
  overflow: hidden;
}

#hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(0%, 5%);
}

/* about me */
#aboutMe__image {
  max-height: 150px;
}

#informations {
  align-items: center;
  background-color: #62b1a218;
  padding: 20px 0;
}

.fullbleed--informations {
  box-shadow: 0 0 0 100vmax #62b1a218;
  clip-path: inset(0 -100vmax);
}

/* Animals */
#animals__container {
  align-items: center;
  padding: 10px;
}

#animals__img__container {
  min-width: 100px;
  max-width: 200px;
  display: flex;
  justify-content: center;
}

#animals__content {
  text-align: left;
  display: flex;
  flex-direction: column;
}

#animals__img {
  border-radius: 10px;
  box-shadow: 3px 3px rgb(92, 87, 87);
  object-fit: cover;
  width: 80%;
}


/* Tablet here */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    
    body {
        background-color: rgb(214, 26, 129);
      }

}

/* desktop here */
@media only screen and (min-width: 769px) {
    
    body {
        background-color: rgb(121, 143, 43);
      }

}