.hero {
    padding: 10px;
    text-align: center;
    justify-content: center;
}

.hero__text {
    max-width: 800px;
}

.hero__buttons {
    margin-top: 10px;
    justify-content: space-around;
}

.button {
    display: flex;
    place-content: center;
    min-width: 100px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: bold;
    color: #62b1a2;
    padding: 5px;
    border: 1px solid #504E4F;
    text-decoration: none;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.button:hover {
    background-color: #62b1a2;
    color: white;
    border: 1px solid #62b1a2;
    text-decoration: none;
}



.separator {
    height: 10px;
    width: 100%;
    margin: 10px 0;
    overflow: hidden;
}

.separator svg {
    width: 100%;
    height: auto;
    fill: #b28364;
}

/* activities */

.activities {
    margin-bottom: 50px;
}

.activities__title {
    margin-top: 20px;
    margin-bottom: 35px;
}

.activities__modules {
    justify-content: space-around;
}

.icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}

.icon {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #966545;
    transition: all 0.2s ease-in-out;
}

.icon:hover {
    transform: scale(1.3);
}

@media only screen and (max-width: 450px) {
    .activities__modules {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .activity {
        width: 50%;
        margin-bottom: 30px;
    }
}

.how__it__works {
    text-align: center;
    background-color: #e2e2e2;
    box-shadow: 0 0 0 100vmax #e2e2e2;
    clip-path: inset(0 -100vmax);
    padding: 30px 0 80px 0;
}

.hiw__title {
    margin-bottom: 30px;
}

.hiw__cards__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin-top: 15px;
    margin: 0 auto;
}

.hiw__card {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.hiw__card h3 {
    text-decoration: none;
    font-size: 20px;
    margin-top: 0;
}

.card__img {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 10px;
    flex: 1;
}

.hiw__card p {
    text-align: center;
    margin-bottom: 0;
    flex: 1;
    line-height: 18px;
    font-size: 16px;
}

.reviews {
    margin-top: 30px;
}

.reviews__title {
    text-align: center;
}

/* test */
.reviews__container {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    width: 80vw;
    max-width: 41em;
    min-height: 25em;
    border-radius: 0.6em;
    box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
    justify-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  
  .testimonial-container {
    width: 85%;
    height: 100%;
    position: relative;
    margin: auto;
    padding: 1.8em 1.2em;
  }
  .wrapper button {
    position: relative;
    font-size: 1.8em;
    height: 2.2em;
    width: 2.2em;
    background-color: #ffffff;
    margin: auto;
    top: 0;
    bottom: 0;
    border: none;
    color: #77521b;
    box-shadow: 0 0 1em rgba(1, 17, 39, 0.25);
    cursor: pointer;
    border-radius: 50%;
  }
  button#next {
    right: -1.1em;
  }
  button#prev {
    left: -1.1em;
  }
  .testimonial-container p {
    color: #8c8c90;
    text-align: center;
    font-size: 16px;
    line-height: 2em;
    letter-spacing: 0.05em;
  }
  .testimonial-container img {
    display: block;
    margin: 1.8em auto 1.25em auto;
    border-radius: 50%;
    width: 4.4em;
  }
  .testimonial-container h3 {
    text-decoration: none;
    color: black;
    font-size: 1em;
    text-align: center;
  }
  /* .testimonial-container h6 {
    color: #bcc4da;
    font-size: 0.9em;
    letter-spacing: 0.03em;
    font-weight: 400;
    text-align: center;
  } */
  @media screen and (min-width: 650px) {
    .wrapper {
      font-size: 14px;
    }
    .testimonial-container p {
        font-size: 20px;
    }
    .testimonial-container h3 {
        font-size: 1.3em;
    }
  }
/* test */

  .carousel-bg{
    margin-bottom: 0px;
  }

@media only screen and (min-width: 769px) {

    .hero {
        padding: 0 100px;
    }

    .hero__buttons {
        justify-content: center;
        gap: 50px;
    }

    .activities__modules {
        justify-content: center;
        gap: 150px;
    }

    /* hiw */
    .hiw__cards__container {
        flex-direction: row;
    }

    .hiw__card {
        max-width: 40%;
        width: 290px;
        min-height: 410px;
    }

    .testimonial-style .carousel-inner > .item {
        padding-bottom: auto;
      }

}