.hero2 {
    padding: 10px;
}

.hero__img {
    border-radius: 50%;
    width: 170px;
    overflow: hidden;
    position: relative;
    top: -60px;
}

.hero__btns {
    margin-top: 10px;
    justify-content: space-around;
}

.btn {
    min-width: 30%;
    border-radius: 50px;
    font-size: 15px;
    font-weight: bold;
    color: #62b1a2;
    padding: 5px;
    border: 1px solid #504E4F;
}

.btn:hover {
    background-color: #62b1a2;
    color: white;
    transition: 0.5s;
    border: 1px solid #62b1a2;
    transform: scale(1.1);
}

.separator {
    height: 10px;
    width: 100%;
    margin: 10px 0;
    overflow: hidden;
}
  
.separator svg {
    width: 100%;
    height: auto;
    fill: #b28364;
}

/* activities */

.activities {
    margin-bottom: 50px;
}

.activities__title {
    margin-top: 20px;
    margin-bottom: 35px;
}

.activities__modules {
    justify-content: space-around;
}
  
.icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}
  
.icon {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #966545;
    transition: all 0.2s ease-in-out;
}

.icon:hover {
    transform: scale(1.3);
}

/* description */

.description__title {
    margin-bottom: 15px;
}

.description__img {
    max-width: 150px;
    border-radius: 15%;
}